[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
blockpoly = "AicXQXhiHgzaxTXpbxYEriXSQdBRQNbqWgcMU1N57q9n"

[programs.devnet]
blockpoly = "AicXQXhiHgzaxTXpbxYEriXSQdBRQNbqWgcMU1N57q9n"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm ts-mocha -p ./tsconfig.json -t 1000000 'tests/**/*.ts'"
